FAMILIOTECA_FROM_EMAIL=your-gmail@gmail.com
FAMILIOTECA_GMAIL_USER=your-gmail@gmail.com
FAMILIOTECA_GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
FAMILIOTECA_BUCKET_ENDPOINT=
FAMILIOTECA_BUCKET_NAME=
FAMILIOTECA_BUCKET_KEY_ID=
FAMILIOTECA_BUCKET_SECRET=
