<%= link_to book_path(book), class: "book-card", id: "book-card-#{book.id}" do %>
  <div class="book-card__cover">
    <% if (thumb = book.cover_thumbnail) %>
      <%= image_tag thumb, class: "book-card__cover-img", alt: book.title, loading: "lazy" %>
    <% else %>
      <div class="book-card__cover-placeholder" aria-hidden="true">
        <span class="book-card__cover-glyph">📖</span>
      </div>
    <% end %>
  </div>
  <div class="book-card__body">
    <p class="book-card__title"><%= book.title %></p>
    <% if book.author.present? %>
      <p class="book-card__author"><%= book.author %></p>
    <% end %>
  </div>
<% end %>
